{% extends 'layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex justify-position-center">
                Всё отлично, ваше письмо отправленно! В скором времени получите ответ.
            </div>
        </div>
    </div>
{% endblock %}